<h1>List of all todos</h1>

<ul>
    {{range .}}
    <li>
        <h2>
            {{.Title}}
        </h2>
        <h1>
            <ul>
                <li>
                    Created : {{.Creation}} </br>
                </li>
                {{if .Due }}
                <li>
                    Due date : {{.Due}} </br>
                </li>
                {{end}}
                {{if .Description}}
                <li>
                    Description : {{.Description}}
                    {{.Description.Show}}
                </li>
                {{end}}
            </ul>
        </h1>
    </li>
    {{end}}
</ul>
